.game-field {
  display: block;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); }
  .game-field__inner {
    position: relative;
    overflow: hidden; }
  .game-field__bg {
    position: absolute;
    width: calc(100% - 44px);
    height: calc(100% - 44px);
    top: 22px;
    left: 22px;
    z-index: 0;
    opacity: .6; }
  .game-field__table {
    position: relative;
    width: 100%;
    max-width: 988px;
    margin: 40px auto;
    background-repeat: no-repeat;
    background-size: cover; }
    .game-field__table::after {
      content: '';
      display: block;
      width: 100%;
      padding-bottom: 57%; }
  .game-field.begin-game .game-field__overlay, .game-field.freeze-game .game-field__overlay, .game-field.end-game .game-field__overlay {
    background-color: rgba(0, 0, 0, 0.72);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    -webkit-transition: opacity .23s ease;
    -o-transition: opacity .23s ease;
    transition: opacity .23s ease; }
  .game-field__modal {
    position: absolute;
    z-index: 10;
    top: calc(50% - 144px);
    left: calc(50% - 240px);
    width: 480px;
    height: 288px; }
    .game-field__modal.game-field__modal--freeze {
      height: 208px;
      top: calc(50% - 104px); }
    .game-field__modal-header {
      position: relative;
      font-family: "Solomon Sans";
      font-size: 23px;
      font-weight: 700;
      color: white;
      text-shadow: 0.5px 0.9px 2px rgba(0, 0, 0, 0.35);
      text-transform: uppercase;
      text-align: center;
      height: 40px;
      line-height: 40px;
      background-size: calc(100% + 8px) calc(100% + 8px);
      background-repeat: no-repeat;
      background-color: #2190b8;
      background-position: -7px -7px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px; }
    .game-field__modal .close {
      width: 28px;
      height: 28px;
      line-height: 1;
      font-size: 28px;
      color: #ffd927;
      font-weight: 700;
      text-align: center;
      position: absolute;
      top: calc(50% - 14px);
      right: 8px;
      background-color: #0d374f;
      border-radius: 2px;
      margin: 0;
      padding: 0;
      text-shadow: 0 0 2px #ffd927; }
      .game-field__modal .close:hover {
        cursor: pointer; }
    .game-field__modal-body {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      background-color: #0d374f;
      height: calc(100% - 32px);
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      padding: 4px; }
      .game-field__modal-body-left {
        width: 272px;
        height: 100%;
        padding-right: 4px; }
      .game-field__modal-body-users-status {
        display: block;
        width: 100%;
        font-size: 15px;
        font-family: "Solomon Sans";
        font-weight: 700;
        color: white;
        text-align: center;
        height: 34px;
        line-height: 34px;
        background-size: cover;
        text-transform: uppercase; }
      .game-field__modal-body-user-list {
        display: block;
        margin-top: 4px;
        height: calc(100% - 38px);
        background-size: 101% 100%;
        background-repeat: no-repeat;
        background-position: -3px 0; }
        .game-field__modal-body-user-list ul {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
          flex-flow: row wrap;
          -webkit-box-align: stretch;
          -ms-flex-align: stretch;
          align-items: stretch;
          height: 100%;
          padding-left: 0;
          padding-bottom: 5px;
          list-style: none; }
        .game-field__modal-body-user-list li {
          -webkit-box-flex: 1;
          -ms-flex: 1 1 100%;
          flex: 1 1 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
          flex-flow: row wrap;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          padding: 4px 0;
          position: relative;
          height: calc(100% / 6); }
          .game-field__modal-body-user-list li:not(:last-child)::after {
            content: '';
            position: absolute;
            height: 1px;
            width: 92%;
            bottom: 0;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            background-color: #165b7b; }
          .game-field__modal-body-user-list li .user-name {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            margin: 0;
            line-height: 1.1;
            padding-left: 16px;
            padding-right: 16px;
            white-space: nowrap;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 14px;
            font-weight: 600;
            color: white; }
          .game-field__modal-body-user-list li .user-status {
            margin-right: 16px;
            width: 96px;
            height: 24px;
            background-color: #ffd927;
            font-size: 12px;
            font-weight: 700;
            color: #7f5500;
            text-transform: uppercase;
            text-align: center;
            line-height: 24px;
            border-radius: 4px;
            -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
            -webkit-transition: opacity .23s ease;
            -o-transition: opacity .23s ease;
            transition: opacity .23s ease;
            opacity: 0; }
          .game-field__modal-body-user-list li.in-game .user-status {
            opacity: 1; }
          .game-field__modal-body-user-list li:first-child .user-name {
            color: #ffd616; }
          .game-field__modal-body-user-list li:first-child .user-status {
            display: none; }
      .game-field__modal-body-right {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        height: 100px; }
      .game-field__modal-body-bet {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
        flex-flow: column wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100px;
        background-size: 101% 100%;
        background-repeat: no-repeat;
        line-height: 1.2; }
        .game-field__modal-body-bet .white {
          font-size: 20px;
          font-weight: 700;
          color: white;
          text-transform: uppercase;
          display: block; }
        .game-field__modal-body-bet .yellow {
          font-size: 17px;
          font-weight: 700;
          color: #ffda2e;
          display: block; }
      .game-field__modal-body-btns {
        padding: 8px 8px 6px;
        background-repeat: no-repeat;
        background-size: 100% 99%; }
        .game-field__modal-body-btns .btn {
          margin-bottom: 8px; }
      .game-field__modal-body-table {
        height: calc(100% - 40px);
        width: 100%;
        background-size: cover;
        background-position: 0 33px;
        background-repeat: no-repeat;
        border-collapse: collapse; }
        .game-field__modal-body-table th {
          font-size: 15px;
          font-family: "Solomon Sans";
          font-weight: 700;
          color: white;
          text-align: center;
          height: 34px;
          line-height: 34px;
          background-size: calc(100% - 1px) 30px;
          background-position: 2px 2px;
          background-repeat: no-repeat;
          border-radius: 4px;
          overflow: hidden;
          text-transform: uppercase; }
        .game-field__modal-body-table tr td {
          text-align: center;
          font-size: 14px;
          font-weight: 600;
          color: white;
          border: 1px solid #165b7b; }
          .game-field__modal-body-table tr td:first-child {
            border-left: none; }
          .game-field__modal-body-table tr td:last-child {
            border-right: none; }
        .game-field__modal-body-table tr:nth-child(2) td {
          color: #ffd616;
          border-top: none; }
        .game-field__modal-body-table-btns {
          display: block;
          width: 100%; }
          .game-field__modal-body-table-btns .btn {
            width: 49.5%;
            -webkit-box-shadow: none;
            box-shadow: none;
            background: 0% 0% / 100% 100% no-repeat;
            text-transform: uppercase;
            text-shadow: none; }
            .game-field__modal-body-table-btns .btn:first-child {
              color: white; }
              .game-field__modal-body-table-btns .btn:first-child:hover {
                color: red; }
            .game-field__modal-body-table-btns .btn:last-child {
              margin-left: 1%;
              color: #ffd616; }
              .game-field__modal-body-table-btns .btn:last-child:hover {
                color: red; }
            .game-field__modal-body-table-btns .btn::before, .game-field__modal-body-table-btns .btn::after {
              content: none; }
            .game-field__modal-body-table-btns .btn.--full {
              width: 100%;
              margin: 0; }
      .game-field__modal-body--freeze {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
        flex-flow: column wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        min-height: 108px;
        width: 100%;
        font-size: 17px;
        line-height: 1.5;
        color: white;
        font-weight: 700;
        text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.75);
        text-transform: uppercase;
        background-size: cover; }
  .game-field.--durak .game-field__inner {
    background-color: #0d374f; }
  .game-field.--durak .game-field__bg {
    background-repeat: repeat;
    background-size: 10%; }

.users-block {
  position: absolute; }
  .users-block.users-block--left {
    left: -2vw; }
  .users-block.users-block--top {
    top: -50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 188px; }
  .users-block.users-block--right {
    right: -2vw; }
  .users-block.users-block--left, .users-block.users-block--right {
    top: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 188px;
    min-height: 220px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap; }

.user-item {
  width: 100%; }
  .user-item__cards {
    display: block;
    width: 120px;
    height: 50px;
    margin-bottom: 4px; }
    .users-block--left .user-item__cards,
    .users-block--top .user-item__cards {
      margin-left: auto; }
    .users-block--right .user-item__cards {
      margin-right: auto; }
  .user-item__data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .user-item__data-img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
      border: 2px solid #1c4b60;
      background-color: #061c28;
      position: relative; }
      .users-block--right .user-item__data-img {
        -webkit-box-ordinal-group: 101;
        -ms-flex-order: 100;
        order: 100; }
      .active .user-item__data-img {
        border-color: #ffd800;
        -webkit-box-shadow: 0 0 20px rgba(255, 216, 0, 0.8);
        box-shadow: 0 0 20px rgba(255, 216, 0, 0.8); }
    .user-item__data-userpick {
      width: 48px;
      height: 48px;
      position: absolute;
      top: calc(50% - 24px);
      left: calc(50% - 24px);
      border: 3px solid #fff;
      border-radius: 50%; }
    .user-item__data-text {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      width: 140px;
      height: 48px;
      padding: 0 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
      flex-flow: column wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background: #0d374f url(../img/blocks/header/bg--account.png) 50% 50%/100% 100% no-repeat;
      margin-left: -20px;
      font-family: "Solomon Sans";
      font-weight: 700;
      line-height: 1.3;
      color: white;
      text-align: center; }
      .users-block--right .user-item__data-text {
        margin-left: 0px;
        margin-right: -20px; }
    .user-item__data-name {
      font-size: 14px;
      display: block;
      width: 100%; }
    .user-item__data-rate {
      font-size: 11px;
      display: block;
      width: 100%; }
      .user-item__data-rate .yellow {
        color: #ffda2e; }

.gamer {
  position: absolute;
  bottom: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  .gamer__info {
    width: 100%;
    max-width: 488px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .gamer__info-img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
      border: 2px solid #1c4b60;
      background-color: #061c28;
      position: relative;
      z-index: 1; }
      .gamer__info-img::before {
        content: '';
        position: absolute;
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        top: -5px;
        left: -5px;
        z-index: -1;
        border-radius: 50%;
        -webkit-transition: opacity .233s ease;
        -o-transition: opacity .233s ease;
        transition: opacity .233s ease;
        opacity: 0; }
      .gamer__info-img::after {
        content: '';
        -webkit-transition: opacity .233s ease;
        -o-transition: opacity .233s ease;
        transition: opacity .233s ease;
        opacity: 0;
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #061c28; }
      .active .gamer__info-img::before {
        background-image: -webkit-gradient(linear, left top, left bottom, from(#ff9702), color-stop(51%, #ffd800), to(#ffb400));
        background-image: -webkit-linear-gradient(top, #ff9702 0%, #ffd800 51%, #ffb400 100%);
        background-image: -o-linear-gradient(top, #ff9702 0%, #ffd800 51%, #ffb400 100%);
        background-image: linear-gradient(to bottom, #ff9702 0%, #ffd800 51%, #ffb400 100%);
        -webkit-box-shadow: 0 0 20px 6px rgba(255, 216, 0, 0.7);
        box-shadow: 0 0 20px 6px rgba(255, 216, 0, 0.7); }
      .is-freeze .gamer__info-img::before {
        background-color: #feffff;
        -webkit-box-shadow: 0 0 20px 6px rgba(254, 255, 255, 0.7);
        box-shadow: 0 0 20px 6px rgba(254, 255, 255, 0.7); }
      .active .gamer__info-img::before,
      .active .gamer__info-img::after,
      .is-freeze .gamer__info-img::before,
      .is-freeze .gamer__info-img::after {
        opacity: 1; }
    .gamer__info-userpick {
      width: 62px;
      height: 62px;
      position: absolute;
      top: calc(50% - 31px);
      left: calc(50% - 31px);
      z-index: 3;
      border: 3px solid #fff;
      border-radius: 50%;
      background-color: rgba(254, 255, 255, 0.6); }
      .gamer__info-userpick img {
        opacity: 1;
        -webkit-transition: opacity .23s;
        -o-transition: opacity .23s;
        transition: opacity .23s; }
        .is-freeze .gamer__info-userpick img {
          opacity: .8; }
    .gamer__info-data {
      width: 176px;
      height: 60px;
      padding: 0 25px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
      flex-flow: column wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background: #0d374f url(../img/blocks/header/bg--account.png) 50% 50%/100% 100% no-repeat;
      margin-left: -20px;
      font-family: "Solomon Sans";
      font-weight: 700;
      line-height: 1.3;
      color: white;
      text-align: center; }
      .gamer__info-data-name {
        font-size: 19px;
        -size: 19px;
        display: block;
        width: 100%; }
      .gamer__info-data-rate {
        font-size: 15px;
        display: block;
        width: 100%; }
        .gamer__info-data-rate .yellow {
          color: #ffda2e; }
    .gamer__info-inner {
      background-color: #0d374f;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      position: relative;
      z-index: 0; }
      .gamer__info-inner::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        background: #0d374f url(../img/blocks/durak/user-freeze.png) 50% 50%/100% 100% no-repeat;
        -webkit-transition: opacity .23s;
        -o-transition: opacity .23s;
        transition: opacity .23s; }
      .is-freeze .gamer__info-inner::after {
        opacity: .8;
        z-index: 3; }
  .gamer__btn-wrapper {
    margin-left: 2px;
    border-radius: 8px;
    position: relative;
    height: 60px;
    width: 100px;
    background: #0d374f url(../img/blocks/header/bg--account.png) 50% 50%/100% 100% no-repeat;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.9); }
    .gamer__btn-wrapper .gamer-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-size: 27px;
      color: white;
      text-shadow: 0 0 2px black;
      text-transform: uppercase;
      background-color: transparent;
      border: none; }
  .gamer__status {
    margin-left: 2px;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.9);
    position: relative;
    height: 60px;
    width: 40px;
    background: #0d374f url(../img/blocks/header/bg--account.png) 50% 50%/100% 100% no-repeat; }
    .gamer__status-bar {
      position: absolute;
      width: 24px;
      height: calc(100% - 16px);
      left: calc(50% - 12px);
      top: 8px;
      border: 2px solid white;
      -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.8), inset 0 0 4px 1px rgba(0, 0, 0, 0.8);
      box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.8), inset 0 0 4px 1px rgba(0, 0, 0, 0.8);
      background-color: #878e91;
      border-radius: 4px; }
      .gamer__status-bar span {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0; }

.deck-game,
.center-field,
.gamer {
  position: absolute; }

.deck-game {
  top: 17%;
  left: 30%; }

.gamer__cards {
  display: block;
  width: 100%;
  height: 190px;
  position: relative; }

.btn--white-v2 {
  background: #fff;
  border: 1px solid #ccc;
  text-shadow: none;
  color: #666;
  -webkit-box-shadow: 0 5px 0 #818181, 0 3px 5px #818181;
  box-shadow: 0 5px 0 #818181, 0 3px 5px #818181; }
  .btn--white-v2::before {
    background: url(../img/blocks/btn/glare-btn--white.png) no-repeat;
    background-size: 100% 100%;
    z-index: -1; }

.btn--white-v2:active,
.btn--white-v2:focus,
.btn--white-v2:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: red;
  background-color: #fff;
  ground-color: #fff; }
